<div class="tb-position--relative main" ngClass.xs="xs" ngClass.sm="sm">
  <div class="tb-container tb-position--relative container">
    <div class="content-container" fxLayout="column">
      <div
        ngClass.gt-sm="tb-height--126"
        ngClass.sm="tb-height--72"
        ngClass.xs="tb-height--72"
      ></div>
      <h4
        [@transitionTextEnter]="{ value: 'in', params: { animDelay: 200 } }"
        ngClass.gt-sm="current-typo--h4"
        class="tb-color--white"
        ngClass.sm="current-typo--h5"
        ngClass.xs="current-typo--h5"
      >
        Hi There 👋 I'm Oshen Dikkumbura 👨🏻‍💻,
      </h4>
      <div
        ngClass.gt-sm="tb-height--24"
        ngClass.sm="tb-height--12"
        ngClass.xs="tb-height--12"
      ></div>
      <h4
        [@transitionTextEnter]="{ value: 'in', params: { animDelay: 300 } }"
        ngClass.gt-sm="current-typo--h2-light"
        ngClass.sm="current-typo--h3-light"
        ngClass.xs="current-typo--h4"
        class="tb-color--white"
      >
        <span class="tb-color--pinkyRed">Passionate</span>
        About
      </h4>

      <h4
        [@transitionTextEnter]="{ value: 'in', params: { animDelay: 400 } }"
        class="tb-color--white"
        ngClass.gt-sm="current-typo--h2-light"
        ngClass.sm="current-typo--h3-light"
        ngClass.xs="current-typo--h4"
      >
        Crafting <span class="tb-color--pinkyRed">Digital</span>Products &
      </h4>
      <h4
        [@transitionTextEnter]="{ value: 'in', params: { animDelay: 500 } }"
        ngClass.gt-sm="current-typo--h2-light"
        ngClass.sm="current-typo--h3-light"
        class="tb-color--white"
        ngClass.xs="current-typo--h4"
      >
        bringing <span class="tb-color--pinkyRed">Innovative</span>
      </h4>
      <h4
        [@transitionTextEnter]="{ value: 'in', params: { animDelay: 500 } }"
        ngClass.gt-sm="current-typo--h2-light"
        ngClass.sm="current-typo--h3-light"
        class="tb-color--white"
        ngClass.xs="current-typo--h4"
      >
        <span class="tb-color--pinkyRed">Solutions</span>&nbsp;to life.
      </h4>

      <div
        ngClass.gt-sm="tb-height--24"
        ngClass.sm="tb-height--16"
        ngClass.xs="tb-height--8"
      ></div>
    </div>
  </div>
</div>
